@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  box-sizing: border-box;
}

/* BODY  */
body {
  height: 100%;
  font-family: "Spline Sans", sans-serif;
  font-weight: 500;
  color: #333;
}

/* HEADER  */
header {
  display: grid;
  grid-template-columns: 51px auto;
  align-items: center;
  padding: 0.5rem 2vw;
}
header h1 {
  font-size: 1.6rem;
  font-weight: 300;
  padding-left: 0.5rem;
  color: #a25304;
}

/* NAVIGATION STUFF GOES HERE  */
/* MAIN  */
main p {
  padding: 0.5rem 2vw;
  color: #333;
  line-height: 125%;
}
main h1 {
  padding: 1rem 2vw 0.5rem 2vw;
  font-size: 1.5rem;
  color: #265b7d;
  font-weight: 300;
}
main div.hero {
  position: relative;
}
main div.hero .swiper, main div.hero .swiper img {
  width: 100%;
  height: auto;
}
main div.hero .text-overlay {
  position: absolute;
  top: 10%;
  bottom: 0%;
  left: 0;
  right: 0;
  color: white;
  font-size: 1.5rem;
  z-index: 10;
  text-align: center;
}
main div.hero .text-overlay h3 {
  text-shadow: 0 0 2px #000;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.05) 50%);
  padding: 10px;
  font-weight: 500;
}
main div.customer {
  padding: 1rem 2vw 0.5rem 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main div.customer section {
  padding: 7px;
}
main div.customer section img {
  width: 100%;
  height: auto;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  transition: transform 1s;
}
main div.customer section img:hover {
  transform: rotate(15deg);
}
main div.overlay {
  padding: 1rem 2vw 0.5rem 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
main div.overlay h2 {
  padding: 10px;
  margin: auto;
  text-align: center;
  font-weight: 500;
  color: #a25304;
}
main div.overlay section {
  position: relative;
}
main div.overlay section img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.3s ease;
}
main div.overlay section img:last-child {
  position: absolute;
  bottom: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}
main div.overlay section:hover img:last-child {
  opacity: 0.3;
}

/* FOOTER  */
#footerWrapper {
  background-color: #1b1b1b;
}

footer {
  font-size: 0.85rem;
  padding: 1rem 0;
  color: #bbb;
  text-align: center;
}
footer a {
  color: #eee;
}

/*Adjust the media query max-width value on line 5 to match your breakpoint between the small and medium screens OR between the medium and large screens*/
@media only screen and (max-width: 34.9375rem) {
  nav {
    background-color: #0aa;
  }
  /* Navigation Button  -------------------------------------------------------- */
  nav button {
    width: 100%;
    padding: 0.4rem 2vw;
    text-align: left;
    background: transparent;
    border: none;
    font-size: 1.6rem;
    color: #FFF;
    cursor: pointer;
  }
  /* Navigation Bar -------------------------------------------------------- */
  #primaryNav {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 998;
    font-weight: 300;
  }
  #primaryNav li.active a {
    background-color: rgba(0, 0, 0, 0.25);
  }
  #primaryNav li a {
    display: block;
    width: 100%;
    padding: 0.75rem 2vw;
    font-size: 14px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  #primaryNav li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  /* Toggle the navigation bar to expand down  */
  #primaryNav.open {
    height: auto;
  }
  /* Submenus – optional .parent class indicates dropdowns */
  #primaryNav > li:hover > a {
    background: rgba(0, 0, 0, 0.5);
  }
  #primaryNav li.parent > a:after {
    font-size: 0.75rem;
    content: "▼";
    color: rgba(255, 255, 255, 0.5);
    float: right;
  }
  #primaryNav li.parent > a:hover {
    background: rgba(0, 0, 0, 0.5);
  }
  /*hide the sub menu items by default*/
  #primaryNav li ul {
    display: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 0;
  }
  #primaryNav li ul a {
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    padding: 10px 5%;
    font-weight: 300;
  }
  #primaryNav li:hover ul {
    display: block;
  }
} /* End Mobile Styles */
@media only screen and (min-width: 35rem) {
  #headerWrapper header {
    padding: 2rem 16px;
  }
  #headerWrapper h1 {
    font-size: 2rem;
  }
  /* NAVIGATION STUFF GOES HERE  */
  nav button {
    display: none;
  }
  nav {
    background-color: #0aa;
  }
  nav ul {
    display: flex;
    margin-left: 2%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  nav ul li {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  nav ul li a {
    display: block;
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    transition: background 0.3s linear;
  }
  nav ul li a:hover {
    background: rgba(0, 0, 0, 0.5);
  }
  nav #primaryNav li.parent > a:after {
    content: "▼";
    font-size: 0.65rem;
    color: rgba(255, 255, 255, 0.5);
    float: left;
  }
  nav ul li ul {
    display: flex;
    flex-direction: column;
    background-color: #009191;
    border: none;
    width: 14rem;
    position: absolute;
    left: -999rem;
    z-index: 99;
  }
  nav ul li ul li {
    border-right: none;
    border-top: solid 1px rgba(0, 0, 0, 0.2);
  }
  nav ul li:hover ul {
    left: auto;
    margin-left: 0;
  }
  nav li.active a {
    background-color: rgba(0, 0, 0, 0.25);
  }
  div.customer section {
    display: grid;
    grid-template-columns: 140px auto;
    -moz-column-gap: 5px;
         column-gap: 5px;
    padding: 10px;
  }
  div.customer section img {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 20% 100%, 0% 80%, 0% 20%);
            clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 20% 100%, 0% 80%, 0% 20%);
  }
  div.overlay {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 64rem) {
  header,
  nav,
  main {
    max-width: 60rem;
    margin: 0 auto;
  }
  /* NAVIGATION STUFF GOES HERE  */
  nav ul li a {
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
  }
  div.customer section {
    grid-template-columns: 200px auto;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
  div.customer section img {
    -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
            clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  }
  div.overlay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}